@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: #FCF8E8;
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	background-color: #D4E2D4;
	font-family: 'Roboto', sans-serif;
}

textarea {
	background-color: #D4E2D4;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
